@import "../node_modules/@fortawesome/fontawesome-free/css/all.min.css";
@import "../node_modules/bootstrap/dist/css/bootstrap-reboot.min.css";
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "./style/react-burger-menu.scss";
@import "./style/helpers.scss";
@import "./style/page.scss";
@import "./style/landing.scss";
@import "./style/form.scss";
@import "style/general.scss";
@import "style/footer.scss";

body {
    background: linear-gradient(40deg, rgba(2, 0, 2, 255) 0%, rgba(55, 4, 48, 255) 45%, rgba(101, 1, 53, 255) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
