form {
  padding: 0rem 5rem; }

.form-header,
.form-body,
.form-footer {
  margin-bottom: 3rem; }

.cadastro-form {
  overflow-y: scroll;
  height: 100%;
  width: 100%; }
  .cadastro-form .form-body {
    text-align: left; }
    .cadastro-form .form-body label {
      text-align: left; }
    .cadastro-form .form-body input {
      margin-bottom: 1rem; }

.input-warning {
  color: red;
  font-size: 0.8rem;
  line-height: 0.7; }

.required:after {
  content: " *";
  font-size: 1rem; }
