html,
body,
#root,
#app > div {
  height: 100%; }

#page-wrap {
  background-color: rgba(100, 100, 100, 0.1); }

header {
  padding-top: 3rem; }

.logo {
  text-align: center; }
  .logo img {
    height: 5rem; }

.home__btn {
  width: 40px;
  margin-right: 30px; }

.card {
  margin-bottom: 1rem;
  min-height: 18rem; }

.card__body img {
  height: 2rem;
  margin-bottom: 0.5rem;
  margin-right: 0.5rem; }
