a {
  color: snow; }

a:hover {
  color: #a7a7a7;
  text-decoration: unset; }

header {
  padding-top: 3rem; }

.logo {
  text-align: center; }
  .logo img {
    height: 5rem; }

.home__btn {
  width: 40px;
  margin-right: 30px; }

.card-cliente {
  background-color: rgba(246, 246, 246, 0.212);
  color: snow;
  padding: 0.5rem; }

.card-servico {
  background-color: rgba(246, 246, 246, 0.212);
  color: snow;
  margin-bottom: 1rem;
  min-height: 18rem; }

.card__body img {
  height: 2rem;
  margin-bottom: 0.5rem;
  margin-right: 0.5rem; }

.table-produtos {
  background-color: rgba(246, 246, 246, 0.212);
  color: snow; }
