.landing {
  color: whitesmoke;
  background: black;
  background: linear-gradient(40deg, black 0%, #790971 45%, #ff007d 100%); }

.landing__title {
  padding-top: 8rem;
  background-color: rgba(0, 0, 0, 0.637); }

.landing__logo {
  text-align: center;
  height: 4rem;
  width: 7rem;
  margin: auto;
  margin-bottom: 1rem; }

.landing__forms {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.575); }
