.page {
    height: 100vh;
    img {
        color: snow;
    }
}

.page-title {
    color: snow;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0px 15px;
    i {
        color: snow;
    }
}
